@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}
body
{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #3A8891;
    overflow: hidden;
}
.container
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .box
{
    transform-style: preserve-3d;
    animation: animate 25s linear infinite
}
@keyframes animate
{
    0%
    {
        transform: perspective(1000px) rotateX(0deg) rotate(0deg);
    }
    100%
    {
        transform: perspective(1000px) rotateX(360deg) rotate(0deg);
    
    }
}
.container .box span
{
  position: absolute;
  color: #fff;  
  font-size: 3.5em;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 900;
  padding: 0 10px;
  background: linear-gradient(90deg, transparent, rgba(0,0,0,0.5), transparent);
  line-height: 0.76em;
  transform-style: preserve-3d;
  text-shadow: 0 5px 15px rgba(0,0,0,0.25);
  transform: translate(-50%,-50%) rotateX(calc(var(--i) * 22.5deg)) translateZ(100px);
}
.container .box span i:nth-child(1)
{
    font-style: initial;
    color: #FF1E1E;
}
.container .box span i:nth-child(2)
{
    font-style: initial;
    color: #0008C1;
}




